<header>
  <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="api">api</a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="login">login</a> -->
      </li>
      <li class="nav-item">
        <a class="nav-link" href="elixirs">Elixirs</a>
      </li>
      <!-- <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li> -->
    </ul>
  </nav>
</header>
